language: r
before_install:
  - sudo apt-get install -y libgsl-dev
install:
 - R -e 'install.packages("BiocManager"); BiocManager::install(version = "3.10", ask=FALSE); BiocManager::install(c("utils", "RUnit", "knitr", "RColorBrewer", "ggplot2", "BiocGenerics", "motifStack", "MotifDb", "MotIV", "bookdown", "kableExtra"), version = "devel", ask = FALSE)'
